<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <link rel="stylesheet" href="{{url_for('static',filename='style/bootstrap-reboot.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}" type="text/css">
        <title>Comunidade Insper</title>
    </head>





               

                <div>
                  <h1>Please login</h1>
                   <h2 class="title">Login</h2>
                  <br>
                  <form action="/{{home}}" method="POST">
                    <input type="text" placeholder="Username" name="username" value="{{
                      request.form.username }}" autofocus>
                     <input type="password" placeholder="Password" name="password" value="{{
                      request.form.password }}">
                    <input class="btn btn-default" type="submit" value="Login">
                  </form>
                  {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}
                  {% endif %}

                  <a  href="/cadastro"><p>Não tem cadastro?</p></a>
                </div>





                



                



            </header>






    	

    </body>
</html>