<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <link rel="stylesheet" href="{{url_for('static',filename='style/bootstrap-reboot.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}" type="text/css">
        <title>Comunidade Insper</title>
    </head>





               

                <div>
                  <h2>Sua conta foi criada com sucesso!</h2>
                   

                
                  <a href="/"><p>Fazer login</p></a>


                </div>





                



                



            </header>






    	

    </body>
</html>